{%- doc -%}
  Renders an account button.

  @param {string} [tag] - The tag to use
  @param {string} [attributes] - Additional attributes to add to the tag
{%- enddoc -%}

{%- assign tag = tag | default: 'button' -%}
<{{ tag }}
  class="account-button header-actions__action"
  aria-label="{{ 'accessibility.account' | t }}"
  {{ attributes }}
>
  {%- if customer.has_avatar? -%}
    {{ customer | avatar }}
  {%- elsif customer.first_name or customer.email -%}
    {%- liquid
      assign initial = customer.email | first

      if customer.first_name != blank
        assign initial = customer.first_name | first
      endif
    -%}
    <span
      class="account-button__avatar"
      aria-hidden="true"
    >
      {{- initial -}}
    </span>
  {%- else -%}
    <span
      class="account-button__icon"
      aria-hidden="true"
    >
  {% comment %}  {{- 'icon-account.svg' | inline_asset_content -}} {% endcomment %}
    {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
     {% comment %}
       <mask id="path-1-inside-1_1554_13020" fill="white">
      <path d="M6.50653 0C4.93509 0 3.65056 1.33885 3.65056 2.97676C3.65056 4.61468 4.93509 5.95161 6.50653 5.95161C8.07795 5.95161 9.36199 4.61468 9.36199 2.97676C9.36199 1.33885 8.07795 0 6.50653 0ZM6.50653 0.94598C7.58743 0.94598 8.45442 1.85013 8.45442 2.97676C8.45442 4.1034 7.58743 5.00561 6.50653 5.00561C5.42561 5.00561 4.55814 4.1034 4.55814 2.97676C4.55814 1.85013 5.42561 0.94598 6.50653 0.94598ZM4.29738 6.86042C2.27654 6.86042 0.580874 8.31711 0.131423 10.2845C-0.0443315 10.9003 0.0127612 11.4646 0.0127612 11.9863C0.0127612 13.078 0.822999 14 1.84952 14H11.1631C12.1896 14 12.9998 13.078 12.9998 11.9863V11.3674L12.998 11.3987C13.0217 11.0107 12.9721 10.62 12.8826 10.2865C12.4342 8.31772 10.7371 6.86045 8.71528 6.86045L4.29738 6.86042ZM4.29738 7.8064H8.71523C10.3237 7.8064 11.6516 8.95777 12.0017 10.5133C12.0034 10.5202 12.0052 10.527 12.0072 10.5338C12.0691 10.7622 12.1078 11.0815 12.092 11.3376C12.0918 11.3473 12.0918 11.3571 12.092 11.3669V11.9863C12.092 12.6035 11.6689 13.054 11.1634 13.054H1.8493C1.34378 13.054 0.920119 12.6035 0.920119 11.9863C0.920119 11.4035 0.885361 10.9443 1.00172 10.5451C1.00519 10.5346 1.00832 10.524 1.01108 10.5133C1.36076 8.95758 2.68885 7.80662 4.29738 7.8064Z"/>
      </mask>
     {% endcomment %}
      <path d="M6.50653 0C4.93509 0 3.65056 1.33885 3.65056 2.97676C3.65056 4.61468 4.93509 5.95161 6.50653 5.95161C8.07795 5.95161 9.36199 4.61468 9.36199 2.97676C9.36199 1.33885 8.07795 0 6.50653 0ZM6.50653 0.94598C7.58743 0.94598 8.45442 1.85013 8.45442 2.97676C8.45442 4.1034 7.58743 5.00561 6.50653 5.00561C5.42561 5.00561 4.55814 4.1034 4.55814 2.97676C4.55814 1.85013 5.42561 0.94598 6.50653 0.94598ZM4.29738 6.86042C2.27654 6.86042 0.580874 8.31711 0.131423 10.2845C-0.0443315 10.9003 0.0127612 11.4646 0.0127612 11.9863C0.0127612 13.078 0.822999 14 1.84952 14H11.1631C12.1896 14 12.9998 13.078 12.9998 11.9863V11.3674L12.998 11.3987C13.0217 11.0107 12.9721 10.62 12.8826 10.2865C12.4342 8.31772 10.7371 6.86045 8.71528 6.86045L4.29738 6.86042ZM4.29738 7.8064H8.71523C10.3237 7.8064 11.6516 8.95777 12.0017 10.5133C12.0034 10.5202 12.0052 10.527 12.0072 10.5338C12.0691 10.7622 12.1078 11.0815 12.092 11.3376C12.0918 11.3473 12.0918 11.3571 12.092 11.3669V11.9863C12.092 12.6035 11.6689 13.054 11.1634 13.054H1.8493C1.34378 13.054 0.920119 12.6035 0.920119 11.9863C0.920119 11.4035 0.885361 10.9443 1.00172 10.5451C1.00519 10.5346 1.00832 10.524 1.01108 10.5133C1.36076 8.95758 2.68885 7.80662 4.29738 7.8064Z" fill="black"/> 
     {% comment %} <path d="M4.29738 6.86042L4.29739 5.86042H4.29738V6.86042ZM0.131423 10.2845L1.09302 10.559L1.10036 10.5333L1.10631 10.5072L0.131423 10.2845ZM12.9998 11.3674H13.9998L12.0015 11.3091L12.9998 11.3674ZM12.998 11.3987L11.9997 11.3404L13.9962 11.4596L12.998 11.3987ZM12.8826 10.2865L11.9076 10.5086L11.9118 10.5271L11.9168 10.5455L12.8826 10.2865ZM8.71528 6.86045L8.71528 7.86045H8.71528V6.86045ZM4.29738 7.8064V6.8064H4.29724L4.29738 7.8064ZM12.0017 10.5133L11.0261 10.7329L11.0279 10.7408L11.0298 10.7487L12.0017 10.5133ZM12.0072 10.5338L12.9723 10.2722L12.9702 10.2643L12.9679 10.2565L12.0072 10.5338ZM12.092 11.3376L11.0939 11.2762L11.093 11.292L11.0925 11.3078L12.092 11.3376ZM12.092 11.3669H13.092V11.352L13.0916 11.3371L12.092 11.3669ZM1.00172 10.5451L0.0524899 10.2305L0.0467654 10.2478L0.0416731 10.2653L1.00172 10.5451ZM1.01108 10.5133L1.97947 10.7628L1.98334 10.7477L1.98674 10.7326L1.01108 10.5133ZM6.50653 0V-1C4.34417 -1 2.65056 0.82601 2.65056 2.97676H3.65056H4.65056C4.65056 1.85169 5.52601 1 6.50653 1V0ZM3.65056 2.97676H2.65056C2.65056 5.12837 4.34499 6.95161 6.50653 6.95161V5.95161V4.95161C5.52519 4.95161 4.65056 4.10098 4.65056 2.97676H3.65056ZM6.50653 5.95161V6.95161C8.66827 6.95161 10.362 5.12814 10.362 2.97676H9.36199H8.36199C8.36199 4.10121 7.48763 4.95161 6.50653 4.95161V5.95161ZM9.36199 2.97676H10.362C10.362 0.82624 8.66909 -1 6.50653 -1V0V1C7.48681 1 8.36199 1.85146 8.36199 2.97676H9.36199ZM6.50653 0.94598V1.94598C6.99619 1.94598 7.45442 2.36264 7.45442 2.97676H8.45442H9.45442C9.45442 1.33762 8.17866 -0.0540203 6.50653 -0.0540203V0.94598ZM8.45442 2.97676H7.45442C7.45442 3.58962 6.99741 4.00561 6.50653 4.00561V5.00561V6.00561C8.17745 6.00561 9.45442 4.61718 9.45442 2.97676H8.45442ZM6.50653 5.00561V4.00561C6.01531 4.00561 5.55814 3.58928 5.55814 2.97676H4.55814H3.55814C3.55814 4.61752 4.83592 6.00561 6.50653 6.00561V5.00561ZM4.55814 2.97676H5.55814C5.55814 2.36298 6.01653 1.94598 6.50653 1.94598V0.94598V-0.0540203C4.8347 -0.0540203 3.55814 1.33728 3.55814 2.97676H4.55814ZM4.29738 6.86042V5.86042C1.77431 5.86042 -0.298297 7.67542 -0.843462 10.0618L0.131423 10.2845L1.10631 10.5072C1.46005 8.95879 2.77876 7.86042 4.29738 7.86042V6.86042ZM0.131423 10.2845L-0.830176 10.0101C-1.05615 10.8018 -0.987239 11.5821 -0.987239 11.9863H0.0127612H1.01276C1.01276 11.347 0.967485 10.9988 1.09302 10.559L0.131423 10.2845ZM0.0127612 11.9863H-0.987239C-0.987239 13.5303 0.175842 15 1.84952 15V14V13C1.47016 13 1.01276 12.6256 1.01276 11.9863H0.0127612ZM1.84952 14V15H11.1631V14V13H1.84952V14ZM11.1631 14V15C12.8367 15 13.9998 13.5304 13.9998 11.9863H12.9998H11.9998C11.9998 12.6256 11.5424 13 11.1631 13V14ZM12.9998 11.9863H13.9998V11.3674H12.9998H11.9998V11.9863H12.9998ZM12.9998 11.3674L12.0015 11.3091L11.9997 11.3404L12.998 11.3987L13.9963 11.457L13.9981 11.4257L12.9998 11.3674ZM12.998 11.3987L13.9962 11.4596C14.0271 10.9523 13.9627 10.4533 13.8485 10.0275L12.8826 10.2865L11.9168 10.5455C11.9814 10.7867 12.0163 11.069 11.9999 11.3378L12.998 11.3987ZM12.8826 10.2865L13.8577 10.0644C13.3136 7.67586 11.2391 5.86045 8.71528 5.86045V6.86045V7.86045C10.2352 7.86045 11.5548 8.95959 11.9076 10.5086L12.8826 10.2865ZM8.71528 6.86045L8.71529 5.86045L4.29739 5.86042L4.29738 6.86042L4.29737 7.86042L8.71528 7.86045L8.71528 6.86045ZM4.29738 7.8064V8.8064H8.71523V7.8064V6.8064H4.29738V7.8064ZM8.71523 7.8064V8.8064C9.81948 8.8064 10.7705 9.59702 11.0261 10.7329L12.0017 10.5133L12.9773 10.2938C12.5328 8.31852 10.8278 6.8064 8.71523 6.8064V7.8064ZM12.0017 10.5133L11.0298 10.7487C11.0357 10.7729 11.0415 10.7942 11.0464 10.8112L12.0072 10.5338L12.9679 10.2565C12.9689 10.2599 12.9711 10.2675 12.9736 10.278L12.0017 10.5133ZM12.0072 10.5338L11.042 10.7955C11.0783 10.9293 11.1023 11.1394 11.0939 11.2762L12.092 11.3376L13.0902 11.3989C13.1132 11.0237 13.0599 10.5951 12.9723 10.2722L12.0072 10.5338ZM12.092 11.3376L11.0925 11.3078C11.0916 11.3374 11.0916 11.367 11.0925 11.3966L12.092 11.3669L13.0916 11.3371C13.0919 11.3472 13.0919 11.3573 13.0916 11.3673L12.092 11.3376ZM12.092 11.3669H11.092V11.9863H12.092H13.092V11.3669H12.092ZM12.092 11.9863H11.092C11.092 12.0649 11.0665 12.091 11.0704 12.0866C11.0719 12.085 11.0799 12.0766 11.0976 12.0684C11.116 12.0598 11.1393 12.054 11.1634 12.054V13.054V14.054C12.3271 14.054 13.092 13.0435 13.092 11.9863H12.092ZM11.1634 13.054V12.054H1.8493V13.054V14.054H11.1634V13.054ZM1.8493 13.054V12.054C1.87338 12.054 1.89655 12.0598 1.91488 12.0683C1.93236 12.0765 1.94037 12.0848 1.94174 12.0863C1.94558 12.0906 1.92012 12.0646 1.92012 11.9863H0.920119H-0.0798813C-0.0798813 13.0442 0.686162 14.054 1.8493 14.054V13.054ZM0.920119 11.9863H1.92012C1.92012 11.6427 1.91137 11.4491 1.91698 11.2215C1.92197 11.0192 1.93882 10.9037 1.96177 10.8249L1.00172 10.5451L0.0416731 10.2653C-0.0517401 10.5857 -0.0756878 10.8994 -0.0824118 11.1722C-0.0885114 11.4197 -0.0798813 11.7471 -0.0798813 11.9863H0.920119ZM1.00172 10.5451L1.95095 10.8597C1.96131 10.8284 1.97088 10.7961 1.97947 10.7628L1.01108 10.5133L0.0426939 10.2639C0.0457674 10.2519 0.0490774 10.2408 0.0524899 10.2305L1.00172 10.5451ZM1.01108 10.5133L1.98674 10.7326C2.24197 9.59707 3.19281 8.80655 4.29752 8.8064L4.29738 7.8064L4.29724 6.8064C2.18489 6.80669 0.479545 8.31808 0.035423 10.294L1.01108 10.5133Z" fill="black" mask="url(#path-1-inside-1_1554_13020)"/>{% endcomment %}
  </svg> {% endcomment %}

  <svg width="22" height="22" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" id="svgkp">
  <path d="M22.9129 12.935L13.7571 23.0474C13.5348 23.2929 13.1284 23.1084 13.1669 22.7794L14.0816 14.9731H10.6991C10.4034 14.9731 10.2484 14.6219 10.4478 14.4035L20.3133 3.59739C20.5589 3.32834 20.9984 3.58134 20.8891 3.92887L18.2354 12.3664H22.6607C22.9557 12.3664 23.1109 12.7163 22.9129 12.935Z" fill="#FEA203"></path>
  <path id="svgkp-path" fill-rule="evenodd" clip-rule="evenodd" d="M16.6079 5.35819C16.4805 5.1933 16.3421 5.03582 16.1932 4.8869C15.2702 3.96387 14.0183 3.44531 12.7129 3.44531C11.4075 3.44531 10.1556 3.96387 9.2326 4.8869C8.30957 5.80993 7.79102 7.06183 7.79102 8.36719C7.79102 9.67255 8.30957 10.9244 9.2326 11.8475C9.48368 12.0986 9.75909 12.3197 10.0533 12.5086L11.0235 11.4503C10.7335 11.2914 10.4649 11.0911 10.227 10.8531C9.56766 10.1938 9.19727 9.29959 9.19727 8.36719C9.19727 7.43479 9.56766 6.54057 10.227 5.88127C10.8863 5.22196 11.7805 4.85156 12.7129 4.85156C13.6453 4.85156 14.5395 5.22196 15.1988 5.88127C15.3636 6.04604 15.5103 6.22549 15.6377 6.41654L16.6079 5.35819ZM20.6413 18.6497L19.6746 19.7132C20.1676 20.4122 20.4473 21.2264 20.4473 22.0781V23.8359C20.4473 24.2243 20.7621 24.5391 21.1504 24.5391C21.5387 24.5391 21.8535 24.2243 21.8535 23.8359V22.0781C21.8535 20.7863 21.4016 19.6103 20.6413 18.6497ZM12.3111 17.5078H10.3026C7.27113 17.5078 4.97852 19.6394 4.97852 22.0781V23.8359C4.97852 24.2243 4.66372 24.5391 4.27539 24.5391C3.88707 24.5391 3.57227 24.2243 3.57227 23.8359V22.0781C3.57227 18.6922 6.67684 16.1016 10.3026 16.1016H12.4885L12.3111 17.5078Z" fill="currentColor" stroke="currentColor"></path>
  </svg>
    </span>
  {%- endif -%}
</{{ tag }}>
<span class="desktop:hidden custom_sigup_login-text mobile:hidden" >Sign up/ Log in</span>
{% stylesheet %}
  .account-button {
    color: var(--color-foreground);
    appearance: none;
    border: none;
    background: none;
    /* height: var(--button-size);
    width: var(--button-size); */
    display: flex;
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    transition: color var(--animation-speed) var(--animation-easing);
  }
  #svgkp{
    width:23px;
    height:23px;
  }
  /* .account-button__avatar {
    --account-button-size: 1.625rem;

    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--account-button-size);
    height: var(--account-button-size);
     border-radius: var(--style-border-radius-50); 
    background-color: var(--color-primary-button-background);
    font-size: var(--font-size--sm);
    font-weight: 500;
    color: var(--color-primary-button-text);
    text-transform: uppercase;
    line-height: 1;
  } */

  .account-button__icon {
    color: currentColor;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* width:14px; */
    width:20px;
  }
   /* .account-button__icon svg{
     width:14px !important;
     height:14px !important;
   } */

  /* The shop avatar doesn't bubble the click event up to our button, so we need to prevent that or the button doesn't work */
  .account-button shop-user-avatar {
    pointer-events: none;
  }
{% endstylesheet %}
