<div
  class="
    footer-utilities__group-copyright
    custom-typography
    {% if block.settings.font_size != "" %}custom-font-size{% endif %}
  "
  style="{% render 'typography-style', preset: 'custom', settings: block.settings %}"
  {{ block.shopify_attributes }}
>
  {% if settings.footer-policy != blank %}
  
    <span class="footer-utilities__text">
    &copy; {{ 'now' | date: '%Y' }}
     {{ settings.footer-policy }}
  </span>

  {% else %}
  <span class="footer-utilities__text">
    &copy; {{ 'now' | date: '%Y' }}
    {{ shop.name | link_to: routes.root_url -}}. All Rights Reserved.
  </span>
  {% endif %}
</div>