<style>
  #reverto-root{
    max-width: 1200px;
    margin: auto !important;
  }
</style>

<script>
  {% comment %}
    window.revertoThemeSettings = {
      size: {{section.settings.panel_size | json}},
      spacing_desk: {{ section.settings.panel_spacing_desk | json }},
      spacing_mobile: {{ section.settings.panel_spacing_mobile | json }},
    }
  {% endcomment %}
  {% assign reverto_custom_settings = shop.metafields.reverto_app.custom_settings %}
  {% assign custom_meta_settings = shop.metafields.reverto_app.custom_settings.value %}
  
  {% if reverto_custom_settings %}
    window.revertoCustomSettings = {{reverto_custom_settings}};
  {% else %}
    window.revertoCustomSettings = null;
  {% endif %}
  window.shopPresentmentCurrency = {{ shop.money_format | json}};
  window.customerData = {
    "first_name":{{customer.first_name | json}},
    "last_name":{{customer.last_name | json}},
    "email":{{customer.email | json}},
    "phone":{{customer.phone | json}}
  };
 window.RevertoTermsAndConditions = {
    type: "{{ section.settings.content_option }}",
    link: "{{ section.settings.link }}",
    content: "{{ section.settings.content_text }}"
  };
  window.revertoDomain = "{{ shop.domain }}";
  {% if customer %}
    window.revertoCustomerId = {{customer.id}};
  {% endif %}
  window.otpStorefrontToken = "d9ad2d1f276f02d8436bd4d47030abfa"
</script>
<select class="reverto-country" style="display:none">
  {{ country_option_tags }}
</select>

<script>
  window.revertoCustomer = {};
   window.revertoCustomer.addresses = {{customer.addresses | json}};
   window.revertoCustomer.countries = []
   let countries = document.querySelectorAll('.reverto-country option');
   if(countries){
     countries.forEach((item)=>{
       let obj = {
         name:  item.value,
         province: item.dataset.provinces ? JSON.parse(item.dataset.provinces) : []
       }
     window.revertoCustomer.countries.push(obj)
     })

   }
</script>
 <style>
    :root {
      --reverto-general-background: {{ section.settings.general_background }};
      --reverto-secondary-background: {{ section.settings.secondary_background }};

      --reverto-active-tab-background: {{ section.settings.active_tab_bg_color }};
      --reverto-active-tab-text-color: {{ section.settings.active_tab_text_color }};
      --reverto-inactive-tab-background: {{ section.settings.inactive_tab_bg_color }};
      --reverto-inactive-tab-text-color: {{ section.settings.inactive_tab_text_color }};
      --reverto-max-width: {{ section.settings.max_width }}%;

      --reverto-margin-top-bottom-mobile:{{ section.settings.margin_top_bottom_mobile }}px;
      --reverto-margin-top-bottom-desktop:{{ section.settings.margin_top_bottom }}px;

      --reverto-padding-top-bottom-mobile:{{ section.settings.padding_top_bottom_mobile }}px;
      --reverto-padding-top-bottom-desktop:{{ section.settings.padding_top_bottom }}px;

      --reverto-color-button-background: {{ section.settings.button_background }};
      --reverto-color-button-text: {{ section.settings.button_text }};
      --reverto-color-secondary-button-background: {{ section.settings.secondary_button_background }};
      --reverto-color-secondary-button-text: {{ section.settings.secondary_button_text }};
      --reverto-color-heading-background: {{ section.settings.heading_background }};
      --reverto-color-heading-text: {{ section.settings.heading_text }};
      --reverto-font-heading-size: {{ section.settings.heading_font_size }}px;
      --reverto-font-paragraph-size: {{ section.settings.paragraph_font_size }}px;
      --reverto-font-info-size: {{ section.settings.info_font_size }}px;
    }
</style>

{% comment %}
{% if custom_meta_settings.RevertoAppVersion == 2 %}
  
{% else %}
  {{ 'reverto.css' | asset_url | stylesheet_tag }}
{% endif %}
{% endcomment %}

<script>
  window.customerLoggedIn = false;
  {% if customer %}
    window.customerLoggedIn = true;
  {% endif %}
</script>

<div class="reverto-root" id="reverto-root"></div>

<script src="{{ 'reverto_v2.js' | asset_url }}" defer="defer"></script>

{% comment %}
{% if custom_meta_settings.RevertoAppVersion == 2 %}
  <script src="{{ 'reverto_v2.js' | asset_url }}" defer="defer"></script>
{% else %}
  <script src="{{ 'reverto.js' | asset_url }}" defer="defer"></script>
{% endif %}
{% endcomment %}