{%- doc -%}
  Renders a slideshow component.
  Condiional <slideshow-arrows> component and slideshow controls.

  @param {object[]} slides - the slides of the slideshow
  @param {string} [ref] - the ref of the slideshow component
   @param {string} [ref1] - the ref1 of the slideshow component
  @param {string} [class] - HTML class attribute of the slideshow component
  @param {string} [controls] - the controls of the slideshow component
  @param {string} [style] - HTML style attribute of the slideshow component
  @param {boolean} [autoplay] - whether the slideshow will autoplay
  @param {number} [autoplay_speed] - the speed of the slideshow autoplay
  @param {boolean} [auto_hide_controls] - whether to hide slideshow-controls when the scroller is smaller than the viewport
  @param {boolean} [infinite] - whether the slideshow will loop
  @param {number} [initial_slide] - the 0-based index of the initial slide, defaults to 0
  @param {string} [slideshow_gutters] - the gutter positions to render. Set width with CSS variables --gutter-slide-width
  @param {number} [slide_count] - the total number of slides
  @param {string} [slide_size] - the height of the slides
  @param {boolean} [show_arrows] - whether the slideshow will render a slideshow-arrows component
  @param {string} [slideshow_arrows] - a custom slideshow-arrows component to render instead of the default
  @param {string} [icon_style] - The style of the icon, defaults to 'arrow'
  @param {string} [arrows_position] - The position of the arrows, defaults to 'bottom'
  @param {string} [attributes] - Additional attributes to add to the slideshow component
  @param {number} [show_count] - the total number of slides
  @example
  {% render 'slideshow', slides: slides, slide_count: collection.products.size, ref: 'mobileSlideshow' ref1:'collection-slide' %}
{%- enddoc -%}

{% assign class = class | strip %}
{% assign style = style | strip %}

<slideshow-component
  {% if ref != blank %}
    ref="{{ ref }}"
  {% endif %}
  {% if class != blank %}
    class="{{ class }}"
  {% endif %}
  style="--slideshow-timeline: {% render 'timeline-scope', count: slide_count, prefix: 'slide' %};{{ style }}"
  {% if autoplay == true %}
    autoplay="{{ autoplay_speed }}" aria-live="polite"
  {% endif %}
  initial-slide="{{ initial_slide | default: 0 }}"
  {% if auto_hide_controls %}
    auto-hide-controls
  {% endif %}
  {% unless infinite == false %}
    infinite
  {% endunless %}

  {{ attributes }}
 
>
  
  
  <slideshow-container ref="slideshowContainer">
    {% if show_arrows and disabled != true %}
      {% render 'slideshow-arrows', icon_style: icon_style, arrows_position: arrows_position %}
    {% endif %}
    {% if slideshow_arrows and disabled != true %}
      {{ slideshow_arrows }}
    {% endif %}

  {% if ref1 contains 'collection-slide' %} 
    {% if slide_count > 1 %}
   <div class="grid-slide-dots" >
  <ol class="slideshow-controls__{{ style }}" {{ show_count }}>
    {% for i in (1..show_count) %}
      <li>
        <button
          class="slideshow-control button "
          style="animation-timeline: --slide-{{ forloop.index }}"
          aria-label="{{ 'accessibility.slide_status' | t: index: forloop.index, length: forloop.length }}"
          on:click="/select/{{ forloop.index0 }}"
          ref="dots[]"
          {% if forloop.first %}
            aria-selected="true"
          {% endif %}
        >
            {% comment %} <img src="https://cdn.shopify.com/s/files/1/0716/6803/9715/files/Rectangle_45821.png?v=1763100641"> {% endcomment %}
           <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="5" viewBox="0 0 64 1" fill="none">
            <rect width="64" height="1" fill="black"/>
          </svg> 
        </button>
      </li>
    {% endfor %}
  </ol>
</div> 
{% endif %}
{% endif %}   

  {% if slide_count > 1 %}
   <div class="grid-slide-dots" >
  <ol class="slideshow-controls__{{ style }}">
    {% for i in (1..slide_count) %}
      <li>
        <button
          class="slideshow-control button "
          style="animation-timeline: --slide-{{ forloop.index }}"
          aria-label="{{ 'accessibility.slide_status' | t: index: forloop.index, length: forloop.length }}"
          on:click="/select/{{ forloop.index0 }}"
          ref="dots[]"
          {% if forloop.first %}
            aria-selected="true"
          {% endif %}
        >
        {% comment %} <img src="https://cdn.shopify.com/s/files/1/0716/6803/9715/files/Rectangle_45821.png?v=1763100641"> {% endcomment %}
         <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="5" viewBox="0 0 64 1" fill="none">
            <rect width="64" height="1" fill="black"/>
          </svg> 
        </button>
      </li>
    {% endfor %}
  </ol>
</div> 
  {% endif %}  
    <slideshow-slides
      tabindex="-1"
      ref="scroller"
      {% if slide_size %}
        size="{{ slide_size }}"
      {% endif %}
      {% if slideshow_gutters %}
        gutters="{{ slideshow_gutters }}"
      {% endif %}
    >
      {{ slides }}
    </slideshow-slides>
  </slideshow-container>
  {{ controls }}
</slideshow-component>        


   