<style>
  #quick-add-dialog #block-{{ block.id }}{
    padding:0;
  }
  #block-{{ block.id }}{
   padding-top:{{ block.settings.padding-block-start }}px;
   padding-bottom:{{ block.settings.padding-block-end }}px;
   padding-right:{{ block.settings.padding-block-right }}px;
   padding-left:{{ block.settings.padding-block-left }}px;
  }
  #block-{{ block.id }} .product-title-wrap{
     display:flex;
     justify-content:space-between;
     flex-wrap:wrap;
     row-gap:15px;
  }
  #block-{{ block.id }} .price-wrap-container {
      display: flex;
      flex-direction: column;
      align-items: self-end;
  }
  #block-{{ block.id }} .product-title-wrap h1{
      font-weight: 500;
      font-size: 20px;
      line-height: 22px;
      /* text-align: center; */
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom:11px;
  }
  #block-{{ block.id }} .price-wrap-container product-price{
    align-items:flex-end;
  }
  .quick-add-modal .price-wrap-container product-price{
    align-items:flex-start !important;
  }
  #block-{{ block.id }} .product-title-wrap .price{
      font-weight: 500;
      font-size: 20px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #000000;
      font-family:Outfit, sans-serif;
  }
  #block-{{ block.id }} .product-title-wrap .price .mrp-txt{
     font-family:'Outfit';
     font-size:12px;
     line-height: 22px;
     font-weight:500;
     letter-spacing:0.5px;
     margin-left:3px;
    }
  #block-{{ block.id }} .product-title-wrap .tax-note {
      font-family:'Helvetica-Neue';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.5px;
      color: #000;
      opacity: .5;
      text-align:right;
  }
  #block-{{ block.id }} .product-title-wrap .sub-content {
      font-family: 'Providence Sans Bold';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #000000;
      margin-top:0;
  }
  @media screen and (max-width: 749px){
  #block-{{ block.id }}{
   padding-top:{{ block.settings.mob-padding-block-start }}px;
   padding-bottom:{{ block.settings.mob-padding-block-end }}px;
   padding-right:{{ block.settings.mob-padding-block-right }}px;
   padding-left:{{ block.settings.mob-padding-block-left }}px;
  }
  #block-{{ block.id }} .product-title-wrap h1{
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.5px;
  }
  #block-{{ block.id }} .product-title-wrap .price{
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.5px;
  }
  #block-{{ block.id }} .product-title-wrap .sub-content {
      font-size: 12px;
      line-height: 12px;
      {% comment %} display:none; {% endcomment %}
  }
  #block-{{ block.id }} .product-title-wrap .tax-note {
      font-size: 12px;
      line-height:18px;
  }
  }
</style>

{%- liquid
  assign product_resource = closest.product
  assign selected_variant = product_resource.selected_or_first_available_variant
-%}

<div id="block-{{ block.id }}" class="group-block">
  <div class="product-title-wrap group-block">
    <div class="product-title-subtitle">
      <h1>{{ product.title }}</h1>
      {% if product.metafields.custom.product_sub_title  %}
      <p class="sub-content" class="group-block">
        {% comment %} {{ block.settings['custom-text'] }} {% endcomment %}
         {{ product.metafields.custom.product_sub_title }}
      </p>
      {% endif %}
    </div>
    <div class="price-wrap-container group-block">
      <product-price
        class="text-block {{ template.suffix }} {{ text_block_classes }} text-{{ block.settings.alignment }} {{ block.settings.type_preset | default: 'paragraph' }} spacing-style{% if closest.product == blank and request.design_mode == false %} hidden{% endif %}"
        data-block-id="{{ block.id }}"
        data-product-id="{{ product_resource.id }}"
        style="
          {% render 'typography-style', settings: block.settings %}
          {% render 'spacing-style', settings: block.settings %}
          --width: {{ block.settings.width }};
        "
        {{ block.shopify_attributes }}
      >
        {% render 'price',
          show_unit_price: true,
          product_resource: product_resource,
          show_sale_price_first: block.settings.show_sale_price_first
        %}
        <div class="tax-note">
          {%- if cart.duties_included and cart.taxes_included -%}
            {{ 'content.duties_and_taxes_included' | t }}-dd
          {%- elsif cart.taxes_included -%}
            {{ 'content.taxes_included' | t }}cf
          {%- elsif cart.duties_included -%}
            {{ 'content.duties_included' | t }}dd
          {%- endif -%}

          {% comment %} {%- if shop.shipping_policy.body != blank -%}
            {{ 'content.shipping_policy' | t }}
          {%- endif -%} {% endcomment %}
        </div>
      </product-price>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "product title price",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "custom-text",
      "label": "Text"
    },
    {
      "type": "checkbox",
      "id": "show_sale_price_first",
      "label": "t:settings.show_sale_price_first",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tax_info",
      "label": "t:settings.show_tax_info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-right",
      "label": "Padding right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-left",
      "label": "Padding left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "mob-padding-block-start",
      "label": "Mobile padding top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "mob-padding-block-end",
      "label": "Mobile padding-bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "mob-padding-block-right",
      "label": "Mobile padding right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "mob-padding-block-left",
      "label": "Mobile padding left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "product title price"
    }
  ]
}
{% endschema %}
