<div id="block-{{ block.id }}">
  <div class="accordion">
   {% if product.description != blank %}
     <accordion-custom
            
              open-by-default-on-desktop
              open-by-default-on-mobile
            
            class=" first-acc "
          >
            <details
              class="details"
              data-testid="accordion-details"
              {{ block.shopify_attributes }}
            >
              <summary class="details__header">
                <h4>PRODUCT DETAILS</h4>
                {% comment %}
                  <span class="svg-wrapper icon-caret icon-animated">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </span>
                {% endcomment %}
                <span class="svg-wrapper icon-plus">
                  {{- 'plus.svg' | inline_asset_content -}}
                </span>
                <span class="svg-wrapper icon-minus">
                  {{- 'minus.svg' | inline_asset_content -}}
                </span>
              </summary>

              <div class="details-content">
                {{ product.description }}
              </div>
            </details>
          </accordion-custom>
      {% endif %}

    {% for title in product.metafields.custom.accordion_heading.value %}
      {% assign link = forloop.index %}
      {% for content in product.metafields.custom.accordion_content.value %}
        {% assign link1 = forloop.index %}
        {% if link == link1 %}
          <accordion-custom
            {% if block.settings.open_by_default and link == block.settings.default_open_index %}
              open-by-default-on-desktop
              open-by-default-on-mobile
            {% endif %}
            class="{% if forloop.first %} first-acc {% endif %}"
          >
            <details
              class="details"
              data-testid="accordion-details"
              {{ block.shopify_attributes }}
            >
              <summary class="details__header">
                <h4>{{ title }}</h4>
                {% comment %}
                  <span class="svg-wrapper icon-caret icon-animated">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </span>
                {% endcomment %}
                <span class="svg-wrapper icon-plus">
                  {{- 'plus.svg' | inline_asset_content -}}
                </span>
                <span class="svg-wrapper icon-minus">
                  {{- 'minus.svg' | inline_asset_content -}}
                </span>
              </summary>

              <div class="details-content">
                {{ content }}
              </div>
            </details>
          </accordion-custom>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

<style>
  #block-{{ block.id }} {
    padding-top:{{ block.settings.desktop-padding-top }}px;
    padding-bottom:{{ block.settings.desktop-padding-bottom }}px;
    padding-right:{{ block.settings.desktop-padding-right }}px;
    padding-left:{{ block.settings.desktop-padding-left }}px;
  }
  #block-{{ block.id }} .details__header{
    padding:0;
  }
  #block-{{ block.id }} .details__header h4{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: {{ block.settings.acc_text__clr }};
  margin:20px 0;
  }
  #block-{{ block.id }} details .svg-wrapper{
    width:24px;
    height:24px;
  }
  #block-{{ block.id }} details[open]>summary .icon-plus{
    display:none;
  }
  #block-{{ block.id }} details>summary .icon-minus{
    display:none;
  }
  #block-{{ block.id }} details[open]>summary .icon-minus{
    display:block;
  }
  #block-{{ block.id }} accordion-custom:first-child{
    border-top:1px solid rgba(0, 0, 0, 0.15);
  }
  #block-{{ block.id }} accordion-custom{
   border-bottom: 1px solid rgba(0, 0, 0, 0.15);
   display:block;
   width:100%;
  }
  #block-{{ block.id }} .details-content{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color:{{ block.settings.acc_cnt__clr }};
  padding-bottom:15px;
  font-family: 'Helvetica-Neue';
  }
  #block-{{ block.id }} .details-content ul{
   padding: 0 0px 0 15px;
  }
  #block-{{ block.id }} .details-content span{
    margin-bottom:4px;
    display:block;
  }
  @media screen and (max-width: 749px) {
  #block-{{ block.id }} {
    padding-top:{{ block.settings.mobile-padding-top }}px;
    padding-bottom:{{ block.settings.mobile-padding-bottom }}px;
    padding-right:{{ block.settings.mobile-padding-right }}px;
    padding-left:{{ block.settings.mobile-padding-left }}px;
  }
  #block-{{ block.id }} .details__header h4 {
    font-size: 14px;
    line-height: 16px;
    font-weight:400;
  }

  #block-{{ block.id }} .details-content {
    font-size: 12px;
    line-height: 16px;
  }
  }
</style>

{% schema %}
{
  "name": "Custom accordion",
  "settings": [
    {
      "type": "header",
      "content": "Content Alignment"
    },
    {
      "type": "checkbox",
      "id": "open_by_default",
      "label": "t:settings.open_row_by_default",
      "default": false
    },
    {
      "type": "number",
      "id": "default_open_index",
      "label": "Accordion index to open by default",
      "default": 1
    },
    {
      "type": "select",
      "id": "text-align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Text Alignment"
    },
    {
      "type": "header",
      "content": "Section Colour"
    },
    {
      "type": "color",
      "id": "bg__clr",
      "label": "Background Colour"
    },
    {
      "type": "color",
      "id": "heading__clr",
      "label": "Heading Colour",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "acc_text__clr",
      "label": "Accordion Heading Colour",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "acc_cnt__clr",
      "label": "Accordion Content Colour",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Desktop Section Padding"
    },
    {
      "type": "range",
      "id": "desktop-padding-top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop-padding-bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop-padding-right",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin right",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop-padding-left",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin left",
      "default": 0
    },
    {
      "type": "header",
      "content": "Mobile Section Padding"
    },
    {
      "type": "range",
      "id": "mobile-padding-top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile-padding-bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile-padding-right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin righ",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile-padding-left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin left",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Custom accordion"
    }
  ]
}
{% endschema %}
