{% if product.metafields.custom.custom_variant_products != blank %}
  {% assign sizes_attribute = '(max-width: 749px) 10vw, (min-width: 750px) 10vw' %}
  {% 
  assign widths = widths | default: '200, 300,'
%}
<div class="custom__variant_picker variant-picker" id="block-{{ block.id }}">
    {% if product.metafields.custom.custom_variant_label != blank %}
    <div class="variant__label">{{ product.metafields.custom.custom_variant_label }}</div>
    {% endif %}
    
    {% assign no_show = block.settings.no-show | plus: 0 %}
    {% assign compare_index = no_show | plus: 1 %}

    <div class="custom__variant_devider">
     
        {% assign product_variant = product.metafields.custom.custom_variant_products.value %}
        {% for variantz in product_variant %}
      
        <div class=" {% if forloop.index > no_show and no_show > 0  %}hide-variant{% endif %} variant_box {% if request.path == variantz.url %}current__product{% endif %}">
             <a href="{{ variantz.url }}" aria-label="Click to Product">
            {{
            variantz.featured_image
            | image_url: width:variantz.featured_image.width 
            | image_tag:
                width: variantz.featured_image.width,
                widths: widths,
                height: variantz.featured_image.height,
                class: 'custom_image',
                sizes:sizes_attribute
            }}
            </a>
        </div>

        {% if forloop.index == no_show %}
            <a class="moreless-buttonz"> Show More</a>
        {% endif %}
        {% endfor %}
        

        
        <div class="custom-clr-swatchdrawer ffgfgfd">
          <div class="clr-swatch-drawer-inner"> 
            <div class="clr-swatch-drawer-header">
              {% comment %} <h2>SELECT A Color</h2> {% endcomment %}
                <div class="close-svg">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M18 6L6 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
            </div>

            {% if product.metafields.custom.custom_variant_label != blank %}
            <p class="drawer__heading">SELECT A {{ product.metafields.custom.custom_variant_label }}</p>
            {% endif %}
            
            <div class="custom__variant_devider">
                {% assign product_variant = product.metafields.custom.custom_variant_products.value %}
                {% assign variant_names = product.metafields.custom.custom_variant_name.value %}
                {% for variantz in product_variant %}

                {% assign variantz1 = forloop.index0 %}
                {% assign variant_name = variant_names[variantz1] | default: '' %}


                <div class="variant_box {% if request.path == variantz.url %}current__product{% endif %}">
                    <a href="{{ variantz.url }}" aria-label="Click to Product">
                    {{
                    variantz.featured_image
                    | image_url: width: 3840
                    | image_tag:
                        width: variantz.featured_image.width,
                        widths: widths,
                        height: variantz.featured_image.height,
                        class: 'custom_image',
                        sizes:sizes_attribute
                    }}
                    {% if variant_name != blank %}
                    <p class="variant__name">{{ variant_name }}</p>
                    {% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
            
           
          </div>
        </div>


    </div>
</div>

<script>
function colorswatch(){
  const drawer = document.querySelector('#block-{{ block.id }} .custom-clr-swatchdrawer');
  const drawerinner = document.querySelector('#block-{{ block.id }} .custom-clr-swatchdrawer .clr-swatch-drawer-inner');
  const openBtn = document.querySelector('#block-{{ block.id }} .moreless-buttonz');
  const closeBtn = document.querySelector('#block-{{ block.id }} .close-svg');
   let originalHeaderZ = '';
  if (!drawer || !openBtn || !closeBtn) return;

  // Open drawer
  openBtn.addEventListener('click', function (event) {
    event.stopPropagation(); // stop event before it reaches document
    drawer.classList.add('active');
    originalHeaderZ = header.style.zIndex;
    console.log(originalHeaderZ, 'originalHeaderZ');
    header.style.zIndex = '1';
    document.documentElement.setAttribute('scroll-lock', 'true'); 
    if(quickclsBtn){
    quickclsBtn.style.display="none";
    }
  });
  

  drawerinner.addEventListener('click', (event) => {
      event.stopPropagation(); 
   });
   drawer.addEventListener('click', function (event) {
    event.stopPropagation();
    drawer.classList.remove('active');
    document.documentElement.removeAttribute('scroll-lock');
    header.style.zIndex = originalHeaderZ; 
    if(quickclsBtn){
    quickclsBtn.style.display="flex";
    }
  });
  // Close drawer with close button
  closeBtn.addEventListener('click', function (event) {
    event.stopPropagation();
    drawer.classList.remove('active');
    document.documentElement.removeAttribute('scroll-lock');
    header.style.zIndex = originalHeaderZ; 
    if(quickclsBtn){
    quickclsBtn.style.display="flex";
    console.log("Welcome")
    }
  });

  // Prevent clicks inside the drawer from closing it
  drawer.addEventListener('click', function (event) {
    event.stopPropagation();
  });

  // Close drawer when clicking outside
  document.addEventListener('click', function () {
    if (drawer.classList.contains('active')) {
      drawer.classList.remove('active');
      document.documentElement.removeAttribute('scroll-lock'); 
      header.style.zIndex = originalHeaderZ;
      if(quickclsBtn){
       quickclsBtn.style.display="flex";
      }
    }
  });
}

document.addEventListener("DOMContentLoaded", () => {
  colorswatch();
});
document.addEventListener('cartChange', () => {
  colorswatch();
});
</script>

<style>
#block-{{ block.id }} {
    padding-top: {{ block.settings.padding-top }}px;
    padding-bottom: {{ block.settings.padding-bottom }}px;
}

#block-{{ block.id }} .hide-variant {
    display: none;
}

#block-{{ block.id }} .custom__variant_devider {
    display: flex;
    flex-wrap: wrap;
    gap: 5.2%;
    row-gap: 20px;
}
#block-{{ block.id }} .custom__variant_devider .variant_box {
    width: 75px;
    padding: 0 0 3px;
}
#block-{{ block.id }} .custom__variant_devider .variant_box .custom_image {
    width: 100%;
    {% comment %} height: 65px; {% endcomment %}
}
#block-{{ block.id }} .custom__variant_devider .variant_box.current__product {
    border-bottom: 2px solid #000000;
}
#block-{{ block.id }} .moreless-buttonz {
   font-family: Outfit;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration: underline;
    color: #000000;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    text-decoration-color: #000;
}
#block-{{ block.id }} .variant__label {
    font-family: Outfit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}

#block-{{ block.id }} .custom-clr-swatchdrawer {
    position: fixed;
    border-radius: 0;
    margin: 0 0 0 auto;
    padding: 0;
    background-color: #1f1f1f80;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    {% comment %} transition: visibility .2s ease; {% endcomment %}
    transition: visibility .3s ease;
    visibility: hidden;
    max-width: 100%;
}
#block-{{ block.id }} .custom-clr-swatchdrawer.active {
    {% comment %} animation: var(--dialog-drawer-opening-animation) var(--animation-speed) var(--animation-easing) forwards; {% endcomment %}
    animation: var(--dialog-drawer-opening-animation) .3s var(--animation-easing) forwards;
    max-height: 100dvh;
    overflow-y: hidden;
    visibility: visible;
}
#block-{{ block.id }} .custom-clr-swatchdrawer .clr-swatch-drawer-inner {
    height: 100%;
    width: 35rem;
    padding: 1rem;
    border-right: 0;
    background-color: var(--color-background);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: translate(100%);
    transition: transform .5s ease; 
    overflow-y: visible;
}
#block-{{ block.id }} .custom-clr-swatchdrawer.active .clr-swatch-drawer-inner {
    transform: translate(0);
}
#block-{{ block.id }} .custom-clr-swatchdrawer .clr-swatch-drawer-header .close-svg svg {
    margin-left: auto;
}
#block-{{ block.id }} .custom-clr-swatchdrawer .drawer__heading {
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}
#block-{{ block.id }} .custom__variant_devider .variant_box .variant__name {
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing:0.5px;
    text-transform: uppercase;
    margin: 8px 0 0;
}

@media screen and (max-width: 749px) {
#block-{{ block.id }} {
    padding-top: {{ block.settings.padding-top-mob }}px;
    padding-bottom: {{ block.settings.padding-bottom-mob }}px;
}

#block-{{ block.id }} .custom__variant_devider {
    {% comment %} gap: 16px; {% endcomment %}
     gap:25px;
}
#block-{{ block.id }} .moreless-buttonz {
    font-size: 10px;
    line-height: 14px;
}
#block-{{ block.id }} .variant__label {
    font-size: 14px;
    line-height: 16px;
}
#block-{{ block.id }} .custom-clr-swatchdrawer .clr-swatch-drawer-inner {
    height: 65vh;
    width: 100vw;
    bottom: 0;
    position: absolute;
    border-radius: 20px 20px 0 0;
    transform: translateY(200%);
    padding: 1rem;
    max-width: 100%;
    max-height: 100%;
}
#block-{{ block.id }} .custom-clr-swatchdrawer .drawer__heading {
    font-size: 14px;
    line-height: 16px;
}

#block-{{ block.id }} .custom__variant_devider .variant_box .variant__name {
    font-size: 10px;
    line-height: 12px;
}
#block-{{ block.id }} .custom__variant_devider .variant_box {
    {% comment %} width: 50px; {% endcomment %}
    width: calc(20% - 25px);
}
}

@media screen and (max-width: 500px) {
#block-{{ block.id }} .custom__variant_devider .variant_box {
    {% comment %} width: 50px; {% endcomment %}
    width: calc(25% - 16px);
}
#block-{{ block.id }} .custom__variant_devider {
    {% comment %} gap: 16px; {% endcomment %}
     gap:16px;
}
{% comment %} #block-{{ block.id }} .custom__variant_devider .variant_box .custom_image {
    height: 50px;
} {% endcomment %}
#block-{{ block.id }} .custom-clr-swatchdrawer .clr-swatch-drawer-header .close-svg svg {
    width: 20px;
    height: 20px;
}
}
</style>
{% endif %}


{% schema %}
{
  "name": "Custom Variant Picker",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "no-show",
      "label": "Show colors"
    },
    {
      "type": "header",
      "content": "Desktop Spacing"
    },
    {
      "type": "range",
      "id": "padding-top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "header",
      "content": "Mobile Spacing"
    },
    {
      "type": "range",
      "id": "padding-top-mob",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-bottom-mob",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    }

  ],
  "presets": [
    {
      "name": "Custom Variant Picker",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}
