<section class="heading-two-column-section">
  <div class="container">
    <div class="two-column-wrapper">
      <div class="image-column">
        {% if section.settings.main_image != blank %}
          <div class="main-image-wrapper">
            {{ section.settings.main_image 
              | image_url: width: 700 
              | image_tag: class: 'main-image',
                width: 700,
                height: 700 
            }}
            {% if section.settings.overlay_image != blank %}
              {{ section.settings.overlay_image
              | image_url: width: 700 
              | image_tag: class: 'overlay-image',
                width: 700,
                height: 700 
            }}
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="content-column">
            <div class="max-width-content">

        {% if section.settings.overlay_title != blank %}
          <h2 class="overlay-title">{{ section.settings.overlay_title }}</h2>
        {% endif %}
        {% if section.settings.overlay_content != blank %}
          <p class="overlay-text">{{ section.settings.overlay_content }}</p>
        {% endif %}
      </div>
      </div>
    </div>
  </div>
</section>

<style>
#shopify-section-{{ section.id }} {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}
.heading-two-column-section {
  padding: 0px 80px;
}
p.overlay-text {
font-family: 'Helvetica-Neue';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.05em;
color: #050505;
margin:0px;
}
h2.overlay-title{
font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 22px;
text-align: left;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #000000;
}
.max-width-content {
  max-width: 400px;
}
.two-column-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.image-column {
  width: 60%;
  position: relative;
}
.main-image-wrapper {
  position: relative;
  max-width: 77%;
}
.main-image {
  width: 85%;
  height: auto;
}
.overlay-image {
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  width: 57%;
  height: auto;
  left: 58%;
}
.content-column {
  width: 40%;
}
.overlay-title {
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.overlay-text {
  font-size: 1rem;
  color: #333;
}

/* Responsive */
@media (max-width: 768px) {
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
  .heading-two-column-section {
    padding: 0px 22px;
  }
  .two-column-wrapper {
    align-items: center;
    gap: 27px;
  }
  .image-column {
    width:100%;
  }
  .main-image-wrapper {
    width: 100%;
  }
  .main-image {
    width: 60%;
    height: auto;
  }
  .overlay-image {
    position: absolute;
    top: 51%;
    left: 67%;
    right: auto;
    transform: translate(-50%, -50%);
    width: 40%;
  }
  .content-column {
    flex: 1 1 100%;
    padding-left: 0;
    text-align: center;
  }
  .max-width-content {
    max-width: 100%;
    padding-left: 0;
  }
  h2.overlay-title{
    font-size: 14px;
    line-height: 16px;
    padding: 0;
    font-weight: 400;

  }
  p.overlay-text {
    font-size: 11px;
    text-align: left;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.06em;
    padding-top: 10px;
  }
}
</style>


{% schema %}
{
  "name": "Craft Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main Image"
    },
    {
      "type": "image_picker",
      "id": "overlay_image",
      "label": "Small Overlay Image"
    },
    {
      "type": "text",
      "id": "overlay_title",
      "label": "Overlay Title",
      "default": "Overlay Title"
    },
    {
      "type": "textarea",
      "id": "overlay_content",
      "label": "Overlay Content",
      "default": "Overlay content goes here."
    },
    {
      "type": "header",
      "content": "Padding Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "header",
      "content": "Padding Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 15
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 15
    }
  ],
  "presets": [
    {
      "name": "Craft Section",
    }
  ]
}
{% endschema %}
