<div class="image__text_custom" id="section-{{ section.id }}">
    <div class="section section--page-width">
        <div class="image__text_custom_container {% if section.settings.image__first %}img_first{% else %}cont_first{% endif %}">
        <div class="imgy__container">
            {% liquid
                assign widths = '300, 450, 600, 750, 900, 1050, 1200, 1350, 1500, 1650, 1800, 1950, 2000, 2500, 3000, 3500, 4000, 5000'
            %}
            {% if section.settings.image != blank %}
            {% comment %}
            <img class="cust_txt_img" src="{{ section.settings.image | img_url:'master' }}" loading="lazy" width="800" height="auto" alt="{{ section.settings.image.alt }}">
            {% endcomment %}
           
            {{
            section.settings.image
            | image_url: width: 500
            | image_tag:
                width: section.settings.image.width,
                widths: widths,
                height: section.settings.image.height,
                class: 'cust_txt_img img__desk',
                style: image_border_style,
                sizes: sizes
            }}
            {% endif %}
            {% if section.settings.image_mob %}
            {{
            section.settings.image_mob
            | image_url: width: 750
            | image_tag:
                width: section.settings.image_mobwidth,
                widths: widths,
                height: section.settings.image_mob.height,
                class: 'cust_txt_img img__mob',
                style: image_border_style,
                sizes: sizes
            }}
            {% endif %}
        </div>
        <div class="cust__txt_container">
            <div class="cust__txt_inner">
                {% if section.settings.heading != blank %}
                <h2 class="image__heading">{{ section.settings.heading }}</h2>
                {% endif %}
                {% if section.settings.content != blank %}
                <p class="text__img_content">{{ section.settings.content }}</p>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
</div>


<style>
#section-{{ section.id }} {
    background: {{ section.settings.bg_clr }};
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container {
    display: flex;
    align-items: end;
    line-height: 0;
}

#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container.cont_first {
    flex-direction: row-reverse;
}
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .imgy__container {
    width: 35%;
}
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .imgy__container .cust_txt_img {
    width: 100%;
    height: auto;
}
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .cust__txt_container {
    width: 65%;
    padding: 10px 48px 0;
}
#shopify-section-{{ section.id }} .cust__txt_inner {
    max-width: 550px;
}
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .cust__txt_container .image__heading {
    font-size: 60px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin: 0 0 0px;
    color: {{ section.settings.heading_clr }};
}
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .cust__txt_container .text__img_content {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.06em;
    color: {{ section.settings.content_clr }};
    margin: 0;

}
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .cust__txt_container .text__img_content span {
    font-weight: 500;
    font-style: italic;
    font-family: "Barlow", sans-serif;
}

@media (max-width: 1399px){
#shopify-section-{{ section.id }} .cust__txt_inner {
    max-width: unset;
    text-align: left;
}
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .cust__txt_container .image__heading {
    font-size: 48px;
    line-height: 50px;
}
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .cust__txt_container .text__img_content {
    font-size: 11px;
    line-height:16px;
}
}

@media (max-width: 749px){
#section-{{ section.id }} {
  padding-top: {{ section.settings.padding_top_mob }}px;
  padding-bottom: {{ section.settings.padding_bottom_mob }}px;
}

#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container {
    display: block;
}
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .imgy__container,
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .cust__txt_container {
    width: 100%;
    text-align: center;
}
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .imgy__container .cust_txt_img {
    max-width: 100%;
}
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .cust__txt_container {
    padding: 28px 0 0;
}
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .cust__txt_container .image__heading {
    {% comment %} margin: 0 0 15px; {% endcomment %}
     font-weight:500;

}
#shopify-section-{{ section.id }} .cust_txt_img.img__desk {
    display: none;
}
}

@media (max-width: 499px){
#shopify-section-{{ section.id }} .image__text_custom .image__text_custom_container .cust__txt_container .image__heading {
    font-size: 48px;
    line-height: 50px;
}
}

@media (min-width: 750px){
#shopify-section-{{ section.id }}  .cust_txt_img.img__mob {
    display: none;
}
}
</style>


{% schema %}
  {
    "name": "Custom Image Text",
    "settings": [
      {
      "type": "checkbox",
      "id": "image__first",
      "label": "Image First",
      "default": true
      },
      {
      "type": "image_picker",
      "id": "image",
      "label": "Image Desktop",
      "info": "Recommended Size: 750 x 820"
      },
      {
      "type": "image_picker",
      "id": "image_mob",
      "label": "Image Mobile",
      "info": "Recommended Size: 750 x 850"
      },
      {
      "type": "text",
      "id": "heading",
      "label": "Heading"
      },
      {
      "type": "textarea",
      "id": "content",
      "label": "Content"
      },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type":"header",
      "content":"Mobile Padding"
    },
    {
      "type": "range",
      "id": "padding_top_mob",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mob",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
    "type": "header",
    "content":"Colour"
    },
    {
    "type": "color",
    "id": "bg_clr",
    "label": "Section Background Colour",
    },
    {
    "type": "color",
    "id": "heading_clr",
    "label": "Heading Colour",
    "default":"#000"
    },
    {
    "type": "color",
    "id": "content_clr",
    "label": "Content Colour",
    "default":"#000"
    }
    ],
"presets":[
    {
      "name": "Custom Image Text"
    }
  ]
  }
{% endschema %}