<section id="{{ section.id }}" class="custombanner-section"> 

    <div class="custombanner-wrapper">
      <div class="custombanner-media">

        {% assign widths = '200, 400, 600, 800, 900, 1200, 1600, 1800, 2000' %}

        <div class="custombanner-inner">
          <picture>
            {% if section.settings.mobile_img %}
              <source media="(max-width: 749px)" srcset="{{ section.settings.mobile_img | image_url: width: 750 }}">
            {% endif %}

            {% if section.settings.desktop_img %}
              {{ section.settings.desktop_img
                | image_url: width: 2000
                | image_tag:
                  width: section.settings.desktop_img.width,
                  height: section.settings.desktop_img.height,
                  class: 'custombanner-image-fill',
                  sizes: '(max-width: 749px) 100vw, 50vw',
                  widths: widths,
                  alt: section.settings.heading | escape
              }}
            {% endif %}
          </picture>

          <!-- Overlay background -->
          <div class="custombanner-overlay-bg" style="background-color: {{ section.settings.overlay_color }};
              opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};"></div>

          <!-- Overlay text -->
          <div class="custombanner-overlay-text custombanner-align-{{ section.settings.content_alignment }}"
               style="color: {{ section.settings.text_color }};">
            {% if section.settings.heading != blank %}
              <h2 class="custombanner-heading">{{ section.settings.heading }}</h2>
            {% endif %}

            {% if section.settings.content_text != blank %}
              <p class="custombanner-content">{{ section.settings.content_text }}</p>
            {% endif %}

            {% if section.settings.button_text != blank and section.settings.button_link != blank %}
              <a href="{{ section.settings.button_link }}"
                 class="custombanner-button"
                 {% if section.settings.button_new_tab %}target="_blank"{% endif %}>
                {{ section.settings.button_text }}
              </a>
            {% endif %}
          </div>
        </div>

      </div>
  </div>
</section>


<style>
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding-top }}px;
      padding-bottom: {{ section.settings.padding-bottom }}px;
    }

    @media screen and (max-width: 749px) {
      #shopify-section-{{ section.id }} {
        padding-top: {{ section.settings.padding-top-mob }}px;
        padding-bottom: {{ section.settings.padding-bottom-mob }}px;
      }
    }

    #shopify-section-{{ section.id }} .custombanner-inner {
      position: relative;
    }

    #shopify-section-{{ section.id }} .custombanner-inner img {
      display: block;
      width: 100%;
      height: auto;
    }

   #shopify-section-{{ section.id }} .custombanner-overlay-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

   #shopify-section-{{ section.id }} .custombanner-overlay-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      z-index: 2;
      max-width: 37%;
      width: 100%;
      color: {{ section.settings.text_color }}
    }

   #shopify-section-{{ section.id }} .custombanner-align-left {
      left: 20px;
      transform: translate(0, -50%);
      align-items: flex-start;
      text-align: left;
    }

   #shopify-section-{{ section.id }} .custombanner-align-center {
      left: 50%;
      transform: translate(-50%, -50%);
      align-items: center;
      text-align: center;
    }

   #shopify-section-{{ section.id }} .custombanner-align-right {
      right: 20px;
      left: auto;
      transform: translate(0, -50%);
      align-items: flex-end;
      text-align: right;
    }

   #shopify-section-{{ section.id }} .custombanner-heading {
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 1.2px;
      padding-bottom: 0px;
      margin-bottom: 0;
      text-transform: uppercase;
      color: {{ section.settings.text_color }}
    }

   #shopify-section-{{ section.id }} .custombanner-content {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.05em;
      padding: 0;
      margin: 10px 10px 0 10px;
      font-weight: 400;
      max-width: 480px;
    }

   #shopify-section-{{ section.id }} .custombanner-button {
      display: inline-block;
      padding: 13px 14px;
      border: 1.5px solid currentColor;
      background: transparent;
      text-decoration: none;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.9px;
      transition: all 0.3s ease;
      text-transform: uppercase;
      color: {{ section.settings.text_color }};
      font-family:'Outfit';

    }

    {% comment %} #shopify-section-{{ section.id }} .custombanner-button:hover {
      background: currentColor;
      color: #000;
    } {% endcomment %}

     @media screen and (max-width: 1100px) {
       #shopify-section-{{ section.id }} .custombanner-overlay-text {
        max-width: 52%;
       }
    }

    @media screen and (max-width: 749px) {
       #shopify-section-{{ section.id }} .custombanner-overlay-text {
        max-width: 80%;
       }
       #shopify-section-{{ section.id }} .custombanner-heading {
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.9px;
     }
     #shopify-section-{{ section.id }} .custombanner-content {
      font-size: 12px;
      line-height: 18px;
      margin: 10px 10px 10px 10px;
      letter-spacing: 0.6px;
     }
    }
     @media screen and (max-width: 470px) {
       #shopify-section-{{ section.id }} .custombanner-overlay-text {
        max-width: 100%;
       }
      }

</style>

{% schema %}
{
  "name": "Custom Banner",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_img",
      "label": "Desktop Banner"
    },
    {
      "type": "image_picker",
      "id": "mobile_img",
      "label": "Mobile Banner"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "content_text",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "checkbox",
      "id": "button_new_tab",
      "label": "Open Button in New Tab",
      "default": false
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content Alignment",
      "default": "center",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "header",
      "content": "Text Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 45
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding-top",
      "label": "Padding Top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding-bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 50
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "padding-top-mob",
      "label": "Padding Top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding-bottom-mob",
      "label": "Padding Bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 30
    }
  ],
  "presets": [
    {
      "name": "Custom Banner"
    }
  ]
}
{% endschema %}
