<div class="custom-heading-text-container">
    <div class="custom-heading-text">
        {% if section.settings.section_heading != blank %}
             <h2 class="section-heading">{{ section.settings.section_heading }}</h2>
        {% endif %}
        {% if section.settings.section_content != blank %}
            <p class="section-content">{{ section.settings.section_content }}</p>
        {% endif %}
    </div>
</div>


<style>
#shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}
#shopify-section-{{ section.id }} .custom-heading-text-container {
  padding: 0px 80px;
}
#shopify-section-{{ section.id }} h2.section-heading {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-align: {{section.settings.dropdown_alignment}};
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    padding-bottom:20px;
    margin: 0 auto;
    max-width: 481px;
}
#shopify-section-{{ section.id }} .section-content {
    max-width: 481px;
    font-family: 'Helvetica-Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: {{section.settings.dropdown_alignment}};
    letter-spacing: 0.05em;
    color: #050505;
    margin:auto;
}
@media (max-width: 768px) {
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
  #shopify-section-{{ section.id }} h2.section-heading {
    text-align:{{ section.settings.mob_dropdown_alignment }};
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
    font-weight: 400;
    max-width: 1920px;
  }
  #shopify-section-{{ section.id }} .custom-heading-text-container {
   padding: 0px 22px;
  }
  #shopify-section-{{ section.id }} .section-content {
    font-size: 11px;
    text-align: {{ section.settings.mob_dropdown_alignment }};
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.06em;
    padding-top: 15px;
    max-width: 1920px;
  }
}
</style>
{% schema %}
{
  "name": "Custom Heading Text",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Your Section Heading"
    },
    {
      "type": "textarea",
      "id": "section_content",
      "label": "Section Content",
      "default": "Your section content goes here."
    },
    {
      "type": "select",
      "id": "dropdown_alignment",
      "label": "Text Alignment",
      "default": "left",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "select",
      "id": "mob_dropdown_alignment",
      "label": "Mobile Text Alignment",
      "default": "left",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "header",
      "content": "Padding Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "header",
      "content": "Padding Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 15
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 15
    }
  ],
  "presets": [
    {
      "name": "Custom Heading Text",
    }
  ]
}
{% endschema %}