<!-- HTML / LIQUID -->
<div class="tab-header">
  <ul class="tab-menu" id="tab-menu">
    {% assign current_path = request.path | split: '?' | first | replace: '/', '' %}
    {% assign matched = false %}

    {% for block in section.blocks %}
      {% assign block_path = block.settings.link | replace: request.origin, '' | split: '?' | first | replace: '/', '' %}
      {% if block_path == current_path %}
        {% assign matched = true %}
      {% endif %}
    {% endfor %}

    {% for block in section.blocks %}
      {% assign block_path = block.settings.link | replace: request.origin, '' | split: '?' | first | replace: '/', '' %}
      {% assign is_first = forloop.first %}
      {% assign is_active = false %}

      {% if block_path == current_path %}
        {% assign is_active = true %}
      {% elsif is_first and matched == false %}
        {% assign is_active = true %}
      {% endif %}

      <li class="tab-item {% if is_active %}active{% endif %}">
        <a href="{{ block.settings.link }}" class="tab-link" data-tab-index="{{ forloop.index }}">
          {{ block.settings.label }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- CSS -->
<style>
#shopify-section-{{ section.id }} .tab-header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: {{ section.settings.background_color }};
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}

#shopify-section-{{ section.id }} .tab-menu {
  display: flex;
  list-style: none;
  gap: {{ section.settings.desktop_gap }}px;
  padding: 0 0 0 20px;
  margin: 0;
  {% comment %} flex-wrap: wrap; {% endcomment %}
  {% comment %} justify-content: center; {% endcomment %}
  overflow-x: auto; /* enable horizontal scroll */
  overflow-y: hidden;
  white-space: nowrap;
}

#shopify-section-{{ section.id }} .tab-item {
  position: relative;
} 
#shopify-section-{{ section.id }} .tab-link {
  font-size: 18px;
  text-decoration: none;
  padding: 4px 0;
  display: inline-block;
  transition: color 0.2s ease;
  font-weight: 400;
  color: {{ section.settings.text_color }};
  letter-spacing: 0.5px;
  line-height: 22px;
  position: relative;
  font-family: 'Outfit';
  text-transform:uppercase;

}

#shopify-section-{{ section.id }} .tab-item.active .tab-link {
  color: #000 !important;
}

#shopify-section-{{ section.id }} .tab-item.active .tab-link::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 1.4px;
  background-color: #000000;
}

/* Tablet & below */
@media screen and (max-width: 768px) {
  #shopify-section-{{ section.id }} .tab-header {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
  #shopify-section-{{ section.id }} .tab-link {
    font-size: 14px;
    line-height:16px;
  }

  #shopify-section-{{ section.id }} .tab-menu {
    gap: {{ section.settings.mobile_gap }}px;
    
  }

  #shopify-section-{{ section.id }} .divider__line {
    display: none !important;
  }
}

/* Extra font size responsiveness */


{% comment %} @media screen and (max-width: 389px) {
  #shopify-section-{{ section.id }} .tab-link {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  #shopify-section-{{ section.id }} .tab-link {
    font-size: 11px;
  }
} {% endcomment %}
</style>

<!-- SCHEMA -->
{% schema %}
{
  "name": "Custom Header",
  "settings": [
    {
      "type": "header",
      "content": "Background Color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Font Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "color",
      "default": "#999999"
    },
    {
      "type": "header",
      "content": "gap"
    },
    {
      "type": "range",
      "id": "desktop_gap",
      "label": "desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_gap",
      "label": "moblie",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    }
    ,
    {
      "type": "header",
      "content": "Padding Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "header",
      "content": "Padding Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 15
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 15
    }
    
  ],
  "blocks": [
    {
      "type": "tab_item",
      "name": "Tab Item",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Tab Label",
          "default": "Tab 1"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Tab Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %}
