<div class="footer-bg-color">
 <div class="footer-content">
  <p class="perfect-heading">{{ section.settings.head }}</p>
  <span class="perfect-span">{{ section.settings.text }}</span>
 </div>
 <div class="bg-design-image">
  {% for block in section.blocks %}
  {% if block.settings.bg_img %}
    <div class="img-{{ block.id  }}">
    {{
      block.settings.bg_img
      | image_url: width: block.settings.bg_img.width
      | image_tag: 
        widths: '200',
        class: 'banner-bg-img ',
        alt: block.settings.bg_img.alt | escape
    }}
   </div>
  {% endif %}
  <style>
  .img-{{ block.id  }} img{
        top:{{ block.settings.top }}px;
        left:{{ block.settings.left }}px;
        right:{{ block.settings.right }}px;
        bottom:{{ block.settings.bottom }}px;
   }
  </style>
{% endfor %}

 </div>
</div>

<style>

#shopify-section-{{ section.id }} .footer-bg-color {
  {% comment %} background:#8A1D41;  {% endcomment %}
  padding-top:{{section.settings.padding-top-desktop}}px;
  padding-bottom: {{ section.settings.padding-bottom-desktop }}px;
  position:relative;
  background-image: url('{{ section.settings.bg_img | image_url: width: 2000 }}');
  background-size: cover;     
  background-position: center;
} 
#shopify-section-{{ section.id }} .footer-content .perfect-heading{
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 95px;
  text-transform: uppercase;
  color: #C9416F;
  {% comment %} padding-left: 4rem; {% endcomment %}
  margin: 0;
  margin-right: auto;
  width: 100%;
  font-family: 'Outfit' !important;
}
#shopify-section-{{ section.id }} .footer-content{
  display:flex;
  flex-direction:column;
  max-width:1440px;
  margin:0 auto;
  padding:0;
  {% comment %} padding:0 5rem; {% endcomment %}
}
#shopify-section-{{ section.id }} .footer-content span{
  font-family: 'Providence-Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height:75px;
  text-transform: lowercase;
  color: #F1D3D6;
  align-self: end;
  {% comment %} padding-right: 16.3%;; {% endcomment %}
  margin-top: -32px;
  margin-left:auto;
}
#shopify-section-{{ section.id }} .bg-design-image img{
    position:absolute;
}
{% comment %} @media screen and (max-width:1500px){
#shopify-section-{{ section.id }} .footer-content span{
  padding-right:4%;
}
} {% endcomment %}
@media screen and (min-width:1450px){
#shopify-section-{{ section.id }} .footer-content span{
  padding-right: 5.2%;
  font-size: 85px;
  margin-top: -20px;
}
}
@media screen and (max-width:1450px){
 #shopify-section-{{ section.id }} .footer-content{
  padding:0 3rem;
}
}
@media screen and (max-width:1260px){
  #shopify-section-{{ section.id }} .footer-content .perfect-heading{
    font-size: 70px;
    line-height: 78px;
  }
  #shopify-section-sections--21424885497891__footer_upper_section_hp9F4M .footer-content span{
    font-size: 65px;
    line-height: 75px;
  }
}
@media screen and (max-width:1100px){
#shopify-section-{{ section.id }} .footer-content{
  padding:0 3rem;
}
#shopify-section-{{ section.id }} .footer-content .perfect-heading {
  font-size: 58px;
  line-height: 69px;
}
#shopify-section-{{ section.id }} .footer-content span {
  font-size: 48px;
  line-height: 58px;
  margin-top:-25px;
}
}
@media screen and (max-width:749px){
#shopify-section-{{ section.id }} .footer-bg-color {
  padding-top:{{section.settings.padding-top-mob}}px;
  padding-bottom: {{ section.settings.padding-bottom-mobile }}px;
}  
#shopify-section-{{ section.id }} .footer-content{
  padding: 0 2.7rem;
}
#shopify-section-{{ section.id }} .footer-content .perfect-heading {
  font-size: 45px;
  line-height: 55px;
}
#shopify-section-{{ section.id }} .footer-content span {
  font-size: 40px;
  line-height: 48px;
  margin-top:-16px;
}
}
@media screen and (max-width:550px){
#shopify-section-{{ section.id }} .footer-content .perfect-heading {
  font-size: 35px;
  line-height: 45px;
}
#shopify-section-{{ section.id }} .footer-content span {
  font-size: 28px;
  line-height: 36px;
  
}  
}
@media screen and (max-width:450px){
#shopify-section-{{ section.id }} .footer-content .perfect-heading {
  font-size: 30px;
  line-height: 40px;
}
#shopify-section-{{ section.id }} .footer-content span {
  font-size: 25px;
  line-height: 34px;
  
}  
#shopify-section-{{ section.id }} .footer-content{
  padding: 0 1.7rem;
}
}
@media screen and (max-width:350px){
#shopify-section-{{ section.id }} .footer-content{
  padding:0 1rem;
}
#shopify-section-{{ section.id }} .footer-content .perfect-heading {
  font-size: 27px;
  line-height: 40px;
}
#shopify-section-{{ section.id }} .footer-content span {
  font-size: 22px;
  line-height: 3p0x;
  
}  
}
</style>

{% schema %}
  {
    "name": "footer upper section",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Heading",
        "default": "Perfection is good"
      },
      {
        "type": "text",
        "id": "text",
        "label": "text",
        "default":"But madness is better"
      },
      {
      "type": "header",
       "content": "Header padding desktop"
    },
    {
      "type": "color",
      "id": "bg-color",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background image"
    },
    
    {
      "type": "range",
      "id": "padding-top-desktop",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top desktop",
      "default": 18
    },
    {
      "type": "range",
      "id": "padding-bottom-desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom desktop",
      "default": 18
    },
     {
      "type": "range",
      "id": "padding-top-mob",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 18
    },
    {
      "type": "range",
      "id": "padding-bottom-mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 18
    },
    ],
   /* "blocks": [
        {
            "type": "background_image",
             "name":"Background image",
             "settings": [
                {
                    "type": "image_picker",
                     "id": "bg_img",
                     "label": "image"
                },
                {
                "type": "range",
                "id": "top",
                "min": 12,
                "max": 24,
                "step": 1,
                "unit": "px",
                "label": "Top position"
                
                },
                {
                "type": "range",
                "id": "bottom",
                "min": 12,
                "max": 24,
                "step": 1,
                "unit": "px",
                "label": "Bottom position"
                
                },
                {
                "type": "range",
                "id": "left",
                "min": 12,
                "max": 24,
                "step": 1,
                "unit": "px",
                "label": "Left position"
                
                },
                {
                "type": "range",
                "id": "right",
                "min": 12,
                "max": 24,
                "step": 1,
                "unit": "px",
                "label": "Right position"
                
                },
             ]
        }
    ],*/
    "presets": [
      {
        "name": "footer upper section"
      }
    ]
  }
{% endschema %}