<div class="footer-top-custom">
  <div class="footer-text-wrap">
    <div class="footer-wrap-content">
    <p class="custom-text-haed">{{ section.settings.head }}</p>
    <p class="custom-style-text">{{ section.settings.text }}</p>
    </div>
  </div>
</div>

<style>
  
#shopify-section-{{ section.id }}{
  padding-top:{{section.settings.padding-top-desktop}}px;
  padding-bottom: {{ section.settings.padding-bottom-desktop }}px;
}
#shopify-section-{{ section.id }} .footer-top-custom{
  background: {{ section.settings.bg-color}};
   padding:30px 0;
}
#shopify-section-{{ section.id }} .footer-text-wrap{
  max-width:1300px;
  margin-left:auto;
  margin-right:auto;
  padding:0 18px;
   
}
#shopify-section-{{ section.id }} .footer-text-wrap .custom-text-haed{
  font-size:22px;
  line-height:26px;
  color:{{ section.settings.text-clr }};
  margin-bottom:8px;
  letter-spacing: 1px;
  font-weight: 400;
}
#shopify-section-{{ section.id }} .footer-text-wrap .custom-style-text{
  font-family:'Providence Sans Bold';
  font-size:20px;
  line-height:24px;
  color:{{ section.settings.text-clr }};
  margin-top:0;
  text-transform:uppercase;
}
/* @media screen and (min-width:1300px){
 #shopify-section-{{ section.id }} .footer-wrap-content{
   padding-left:5rem;
 }
} */
@media screen and (max-width:749px){
#shopify-section-{{ section.id }}{
  padding-top:{{section.settings.padding-top-mob}}px;
  padding-bottom: {{ section.settings.padding-bottom-mobile }}px;
}  
#shopify-section-{{ section.id }} .footer-text-wrap .custom-text-haed{
  font-size:18px;
  line-height:22px;
}  
#shopify-section-{{ section.id }} .footer-text-wrap .custom-style-text{
  font-size:16px;
  line-height:20px;
}
}
@media screen and (max-width:500px){
 #shopify-section-{{ section.id }} .footer-text-wrap .custom-text-haed{
  font-size:16px;
  line-height:20px;
}  
#shopify-section-{{ section.id }} .footer-text-wrap .custom-style-text{
  font-size:14px;
  line-height:18px;
} 
}
</style>


{% schema %}
  {
    "name": "footer custom text",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "text",
        "label": "text"
      },
      {
      "type": "header",
       "content": "Header padding desktop"
    },
    {
      "type": "color",
      "id": "bg-color",
      "label": "Background"
    },
    {
       "type": "color",
      "id": "text-clr",
      "label": "Text color" 
    },
    {
      "type": "range",
      "id": "padding-top-desktop",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top desktop",
      "default": 18
    },
    {
      "type": "range",
      "id": "padding-bottom-desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom desktop",
      "default": 18
    },
     {
      "type": "range",
      "id": "padding-top-mob",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 18
    },
    {
      "type": "range",
      "id": "padding-bottom-mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 18
    },
    ],
    "presets": [
      {
        "name": "footer custom text"
      }
    ]
  }
{% endschema %}