<section class="lafoli-text-section">
  <div class="page-width lafoli-text__wrapper {{ section.settings.vertical_alignment }}">
    {% if section.settings.heading != blank %}
      <h2 class="lafoli-text__heading">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.text != blank %}
      <div class="lafoli-text__content">
        {{ section.settings.text }}
      </div>
    {% endif %}
  </div>
</section>

<style>
 #shopify-section-{{ section.id }} .lafoli-text__wrapper{
   padding:0 30px;
 }

#shopify-section-{{ section.id }} .lafoli-text-section {
  text-align: center;
  padding-top: {{ section.settings.padding_top_desktop }}px;
  padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#shopify-section-{{ section.id }} .lafoli-text__wrapper {
  max-width: 800px;
  margin: 0 auto;
}

#shopify-section-{{ section.id }} .lafoli-text__heading {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0px;
    line-height: 22px;
    letter-spacing: 0.5px;
}

#shopify-section-{{ section.id }} .lafoli-text__content {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-weight: 300;
    letter-spacing:0.5px;
}

#shopify-section-{{ section.id }} .lafoli-text__wrapper.top {
  justify-content: flex-start;
}
#shopify-section-{{ section.id }} .lafoli-text__wrapper.center {
  justify-content: center;
}
#shopify-section-{{ section.id }} .lafoli-text__wrapper.bottom {
  justify-content: flex-end;
}


@media (max-width: 768px) {
  #shopify-section-{{ section.id }} .lafoli-text-section {
    padding-top: {{ section.settings.padding_top_mobile }}px !important;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px !important;
  }
  #shopify-section-{{ section.id }} .lafoli-text__heading {
    font-size: 18px;
  }
  #shopify-section-{{ section.id }} .lafoli-text__content {
    font-size: 12px;
    line-height: 20px;
  }
}
</style>

{% schema %}
{
  "name": "Heading Text",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "LAFOLI - A STORY FOR NOW"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Content",
      "default": "<p>Founded with a vision to redefine modern luxury, LAFOLI is a contemporary brand born online.</p><p>Driven by a commitment to thoughtful design and conscious creation, we craft timeless pieces without middlemen, letting quality lead while keeping our prices fair. We don’t overproduce, run constant sales, or let anything go to waste. Instead, we launch our pieces in limited quantities to ensure our footprint.</p>"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "Vertical Alignment",
      "default": "center",
      "options": [
        { "value": "top", "label": "Top" },
        { "value": "center", "label": "Center" },
        { "value": "bottom", "label": "Bottom" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "label": "Padding Top (Desktop)",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom (Desktop)",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding Top (Mobile)",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom (Mobile)",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 30
    }
  ],
  "presets": [
    {
      "name": "Heading Text",
      "category": "Custom"
    }
  ]
}
{% endschema %}
